OLLAMA_BASE_URL=http://127.0.0.1:11434
OLLAMA_MODEL=llama3:latest
NEXT_PUBLIC_SUPABASE_URL= https://ckbugtonybyyudfjtvjj.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNrYnVndG9ueWJ5eXVkZmp0dmpqIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzI4NjcxNzgsImV4cCI6MjA4ODQ0MzE3OH0.ie6Zi4nOdp3ZTZi1oywIYGMG_O-m7BIPwLjKVA30QQA